body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
.Orange-Color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 3%;
    padding-right: 10%;
}
.half-width img {
    width: 65%; 
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.Section-1{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.Section-2{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    text-align: justify;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 15px;
}
#experience{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}    
#exp-item-1{
    border-left: 10px solid tomato;
}
#exp-item-2{
    border-left: 10px solid blue;
}
footer p{
    text-align: center;
}